<%= form_for @todo_list, :html => { :class => "form-horizontal todo_list" } do |f| %>

    <% if @todo_list.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @todo_list.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :item, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :item, :class => 'form-control' %>
    </div>
    <%= error_span(@todo_list[:item]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            todo_lists_path, :class => 'btn btn-default' %>

<% end %>
